{% extends "base.html" %}


{% block content %}
<form action="{{ url_for('task.handle_add_task') }}" method="POST">
    <input name="text" placeholder="New Task">
    <input type="submit" value="Add Task">
</form>
<table id="data" class="table table-striped">
<thead>
    <tr>
    <th>Task</th>
    <th>Event Counts</th>
    <th></th>
    </tr>
</thead>
<tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.event_counts }}</td>
        <td><form action="{{ url_for('task.handle_add_event')}}" method="POST"><input name="text" type="hidden" value="{{ task.id }}"><input type="submit" value="Add Event"></form></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
